<a href="https://colab.research.google.com/github/Divi620/Experiment-number-1-Basics-of-Python/blob/main/experiment_number_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Unit 1
# Experiment no. 1: basics of Python
##Name: Divisha Ingavale
## PRN: 250701043       
## Branch: ENTC
## Batch: A2
## Date: 13th January 2026

In [ ]:
#First python program/string
print("Hello, welcome to python Programming")

Hello, welcome to python Programming

In [ ]:
a = 'Hello'
print(a)

Hello

In [ ]:
#Comments
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
#Many statements
print("Hello, World!")
print("Have a good day")
print("Learning python is fun!")

Hello, World!
Have a good day
Learning python is fun!

In [ ]:
#Three logical statements as output with a single input line using semicolon (;)
print("Hello");print("How are you");print("Bye bye!")

Hello
How are you
Bye bye!

In [ ]:
# Print numbers
a = 3
print(a)
print(358)
print(500,200)

3
358
500 200

In [ ]:
#Variables
x=5
y="Hello, World!"

print(x)
print(y)

5
Hello, World!

In [ ]:
#Case Sensitive
a=4
A="Sally"

print(a)
print(A)

4
Sally

In [ ]:
#Many values to Multiple variables
x,y,z = "Orange","Banana","Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#Basic Arithmetic Operations
a =10
b=5
print("Addition =",a+b)
print("Division =",a/b)

Addition = 15
Division = 2.0

In [ ]:
#Understanding data types
x=10
y=3.14
z="Python"
A=True
C=3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
#Taking input from user
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name", name)
print("Age", age)

Enter your name: Divisha
Enter your age: 19
Name Divisha
Age 19

In [ ]:
#Simple calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print(a+b)
print(a-b)
print(a/b)
print(a*b)

Enter first number: 3
Enter second number: 5
8
-2
0.6
15

In [ ]:
#Take marks of 5 subjects and find the sum and average

a=float(input("Marks for Maths: "))
b=float(input("Marks for Physics: "))
c=float(input("Marks for Chemistry: "))
d=float(input("Marks for Biology: "))
e=float(input("Marks for Economics: "))

f = a+b+c+d+e
print(f)
print(f/5)

Marks for Maths: 34
Marks for Physics: 54
Marks for Chemistry: 67
Marks for Biology: 79
Marks for Economics: 89
323.0
64.6

In [ ]:
#Find area of circle

a=float(input("Value of r: "))
print(a*a*3.14)

Value of r: 4
50.24

In [ ]:
#Find area of rectangle
l=float(input("Value of l: "))
b=float(input("Value of b: "))
print(l*b)

Value of l: 3
Value of b: 6
18.0

In [ ]:
#Find perimeter of rectangle
l=float(input("Value of l: "))
b=float(input("Value of b: "))

print((2*l) +(2*b))

Value of l: 5
Value of b: 7
24.0

In [ ]:
# Python Booleans
print(10>9)
print(10==9)
print(10<9)

True
False
False